body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}

textarea:focus, input:focus{
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
